# Activity: Explore hypothesis testing

## Introduction

You work for an environmental think tank called Repair Our Air (ROA). ROA is formulating policy recommendations to improve the air quality in America, using the Environmental Protection Agency's Air Quality Index (AQI) to guide their decision making. An AQI value close to 0 signals "little to no" public health concern, while higher values are associated with increased risk to public health. 

They've tasked you with leveraging AQI data to help them prioritize their strategy for improving air quality in America.

ROA is considering the following decisions. For each, construct a hypothesis test and an accompanying visualization, using your results of that test to make a recommendation:

1. ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.
2. With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?
3. A new policy will affect those states with a mean AQI of 10 or greater. Will Michigan be affected by this new policy?

**Notes:**
1. For your analysis, you'll default to a 5% level of significance.
2. Throughout the lab, for two-sample t-tests, use Welch's t-test (i.e., setting the `equal_var` parameter to `False` in `scipy.stats.ttest_ind()`). This will account for the possibly unequal variances between the two groups in the comparison.

## Step 1: Imports

To proceed with your analysis, import `pandas` and `numpy`. To conduct your hypothesis testing, import `stats` from `scipy`.

#### Import Packages

In [1]:
# Import relevant packages
### YOUR CODE HERE ###
import pandas as pd
import numpy as np
from scipy import stats

You are also provided with a dataset with national Air Quality Index (AQI) measurements by state over time for this analysis. `Pandas` was used to import the file `c4_epa_air_quality.csv` as a dataframe named `aqi`. As shown in this cell, the dataset has been automatically loaded in for you. You do not need to download the .csv file, or provide more code, in order to access the dataset and proceed with this lab. Please continue with this activity by completing the following instructions.

**Note:** For purposes of your analysis, you can assume this data is randomly sampled from a larger population.

#### Load Dataset

In [2]:
# RUN THIS CELL TO IMPORT YOUR DATA.

### YOUR CODE HERE ###
aqi = pd.read_csv('c4_epa_air_quality.csv')

## Step 2: Data Exploration

### Before proceeding to your deliverables, explore your datasets.

Use the following space to surface descriptive statistics about your data. In particular, explore whether you believe the research questions you were given are readily answerable with this data.

In [3]:
# Explore your dataframe `aqi` here:
### YOUR CODE HERE ###
aqi.describe(include='all')

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
count,260.000000,260,260,260,260,257,260,260,260.000000,260.000000
unique,NaN,1,52,149,190,253,1,1,NaN,NaN
top,NaN,2018-01-01,California,Los Angeles,Not in a city,Kapolei,Carbon monoxide,Parts per million,NaN,NaN
freq,NaN,260,66,14,21,2,260,260,NaN,NaN
mean,129.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.403169,6.757692
std,75.199734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.317902,7.061707
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,64.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200000,2.000000
50%,129.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276315,5.000000
75%,194.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.516009,9.000000
max,259.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.921053,50.000000

In [5]:
print(aqi.info())
print(aqi.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        260 non-null    int64
 1   date_local        260 non-null    object
 2   state_name        260 non-null    object
 3   county_name       260 non-null    object
 4   city_name         260 non-null    object
 5   local_site_name   257 non-null    object
 6   parameter_name    260 non-null    object
 7   units_of_measure  260 non-null    object
 8   arithmetic_mean   260 non-null    float64
 9   aqi               260 non-null    int64
dtypes: float64(1), int64(2), object(7)
memory usage: 20.4+ KB
None
(260, 10)

In [6]:
aqi.head(10)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3
5,5,2018-01-01,Hawaii,Honolulu,Not in a city,Kapolei,Carbon monoxide,Parts per million,0.994737,14
6,6,2018-01-01,Hawaii,Honolulu,Not in a city,Kapolei,Carbon monoxide,Parts per million,0.200000,2
7,7,2018-01-01,Pennsylvania,Erie,Erie,NaN,Carbon monoxide,Parts per million,0.200000,2
8,8,2018-01-01,Hawaii,Honolulu,Honolulu,Honolulu,Carbon monoxide,Parts per million,0.400000,5
9,9,2018-01-01,Colorado,Larimer,Fort Collins,Fort Collins - CSU - S. Mason,Carbon monoxide,Parts per million,0.300000,6

In [7]:
aqi['state_name'].value_counts()

California              66
Arizona                 14
Ohio                    12
Florida                 12
Texas                   10
New York                10
Pennsylvania            10
Michigan                 9
Colorado                 9
Minnesota                7
New Jersey               6
Indiana                  5
North Carolina           4
Massachusetts            4
Maryland                 4
Oklahoma                 4
Virginia                 4
Nevada                   4
Connecticut              4
Kentucky                 3
Missouri                 3
Wyoming                  3
Iowa                     3
Hawaii                   3
Utah                     3
Vermont                  3
Illinois                 3
New Hampshire            2
District Of Columbia     2
New Mexico               2
Montana                  2
Oregon                   2
Alaska                   2
Georgia                  2
Washington               2
Idaho                    2
Nebraska                 2
Rhode Island             2
Tennessee                2
Maine                    2
South Carolina           1
Puerto Rico              1
Arkansas                 1
Kansas                   1
Mississippi              1
Alabama                  1
Louisiana                1
Delaware                 1
South Dakota             1
West Virginia            1
North Dakota             1
Wisconsin                1
Name: state_name, dtype: int64

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referring to the material on descriptive statisics.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider using `pandas` or `numpy` to explore the `aqi` dataframe.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

Any of the following functions may be useful:
- `pandas`: `describe()`,`value_counts()`,`shape()`, `head()`
- `numpy`: `unique()`,`mean()`
    
</details>

#### **Question 1: From the preceding data exploration, what do you recognize?**

California is the most frequent state in the dataset with 66 occurrences, and Los Angeles is the most frequent county in the dataset with 14 occurrences. Ohio and New York have 12 and 10 occurrences, respectively, in the dataset. These are relatively small sample sizes, but might be sufficient for a hypothesis test (though power might be a little low).

## Step 3. Statistical Tests

Before you proceed, recall the following steps for conducting hypothesis testing:

1. Formulate the null hypothesis and the alternative hypothesis.<br>
2. Set the significance level.<br>
3. Determine the appropriate test procedure.<br>
4. Compute the p-value.<br>
5. Draw your conclusion.

### Hypothesis 1: ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [9]:
# Create dataframes for each sample being compared in your test
### YOUR CODE HERE ###
cali_df = aqi[(aqi['state_name'] == 'California') & ~(aqi['county_name'] == 'Los Angeles')]
la_df = aqi[aqi['county_name'] == 'Los Angeles']
print(cali_df.shape)
print(la_df.shape)

(52, 10)
(14, 10)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on subsetting dataframes.  
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider creating two dataframes, one for Los Angeles, and one for all other California observations.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

For your first dataframe, filter to `county_name` of `Los Angeles`. For your second dataframe, filter to `state_name` of `Calfornia` and `county_name` not equal to `Los Angeles`.
    
</details>

#### Formulate your hypothesis:

**Formulate your null and alternative hypotheses:**

*   $H_0$: There is no difference in the mean AQI between Los Angeles County and the rest of California.
*   $H_A$: There is a difference in the mean AQI between Los Angeles County and the rest of California.

#### Set the significance level:

In [10]:
# For this analysis, the significance level is 5%
### YOUR CODE HERE
sig_level = 0.05

#### Determine the appropriate test procedure:

Here, you are comparing the sample means between two independent samples. Therefore, you will utilize a **two-sample  𝑡-test**.

#### Compute the P-value

In [12]:
# Compute your p-value here
### YOUR CODE HERE ###
tstat, pval = stats.ttest_ind(cali_df['aqi'], la_df['aqi'], equal_var=False)
tstat, pval

(-2.1107010796372014, 0.049839056842410995)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on how to perform a two-sample t-test.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  In `ttest_ind()`, a is the aqi column from our "Los Angeles" dataframe, and b is the aqi column from the "Other California" dataframe.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

  Be sure to set `equal_var` = False.

</details>

#### **Question 2. What is your P-value for hypothesis 1, and what does this indicate for your null hypothesis?**

The p-value is less than the pre-defined significance level, so I would reject the null hypothesis.

### Hypothesis 2: With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [13]:
# Create dataframes for each sample being compared in your test
### YOUR CODE HERE ###
ny_df = aqi[aqi['state_name'] == 'New York']
ohio_df = aqi[aqi['state_name'] == 'Ohio']
print(ny_df.shape)
print(ohio_df.shape)

(10, 10)
(12, 10)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the materials on subsetting dataframes.  
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider creating two dataframes, one for New York, and one for Ohio observations.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

For your first dataframe, filter to `state_name` of `New York`. For your second dataframe, filter to `state_name` of `Ohio`.
    
</details>

#### Formulate your hypothesis:

**Formulate your null and alternative hypotheses:**

*   $H_0$: The mean AQI of New York is greater than or equal to that of Ohio.
*   $H_A$: The mean AQI of New York is **below** that of Ohio.

#### Significance Level (remains at 5%)

#### Determine the appropriate test procedure:

Here, you are comparing the sample means between two independent samples in one direction. Therefore, you will utilize a **two-sample  𝑡-test**.

#### Compute the P-value

In [16]:
# Compute your p-value here
### YOUR CODE HERE ###
tstat, pval = stats.ttest_ind(ny_df['aqi'], ohio_df['aqi'], equal_var=False, alternative='less')
tstat, pval

(-2.025951038880333, 0.030446502691934697)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on how to perform a two-sample t-test.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  In `ttest_ind()`, a is the aqi column from the "New York" dataframe, an b is the aqi column from the "Ohio" dataframe.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

  You can assign `tstat`, `pvalue` to the output of `ttest_ind`. Be sure to include `alternative = less` as part of your code.  

</details>

#### **Question 3. What is your P-value for hypothesis 2, and what does this indicate for your null hypothesis?**

The p-value is 0.03, indicating that we reject the null hypothesis that New York AQI values are greater than or equal to Ohio AQI values.

###  Hypothesis 3: A new policy will affect those states with a mean AQI of 10 or greater. Will Michigan be affected by this new policy?

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [17]:
# Create dataframes for each sample being compared in your test
### YOUR CODE HERE ###
michigan_df = aqi[aqi['state_name'] == 'Michigan']
michigan_df.shape

(9, 10)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on subsetting dataframes.  
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider creating one dataframe which only includes Michigan.
</details>

#### Formulate your hypothesis:

**Formulate your null and alternative hypotheses here:**

*   $H_0$: The mean AQI of Michigan is less than or equal to 10.
*   $H_A$: The mean AQI of Michigan is greater than 10.

#### Significance Level (remains at 5%)

#### Determine the appropriate test procedure:

Here, you are comparing one sample mean relative to a particular value in one direction. Therefore, you will utilize a **one-sample  𝑡-test**.

#### Compute the P-value

In [18]:
# Compute your p-value here
### YOUR CODE HERE ###
ttest, pval = stats.ttest_1samp(michigan_df['aqi'], 10, alternative='greater')
ttest, pval

(-1.7395913343286131, 0.9399405193140109)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on how to perform a one-sample t-test.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  In `ttest_1samp)`, you are comparing the aqi column from your Michigan data relative to 10, the new policy threshold.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

  You can assign `tstat`, `pvalue` to the output of `ttest_1samp`. Be sure to include `alternative = greater` as part of your code.  

</details>

#### **Question 4. What is your P-value for hypothesis 3, and what does this indicate for your null hypothesis?**

The p-value is 0.94, indicating that I fail to reject the null hypothesis that the Michigan AQI is less than or equal to 10.

## Step 4. Results and Evaluation

Now that you've completed your statistical tests, you can consider your hypotheses and the results you gathered.

#### **Question 5. Did your results show that the AQI in Los Angeles County was statistically different from the rest of California?**

Yes, the results showed that the AQI in Los Angeles County is statistically different from the rest of California.

#### **Question 6. Did New York or Ohio have a lower AQI?**

The results indicate that the mean AQI for New York is not greater than or equal to the mean AQI of Ohio. Therefore, we can reject the null hypothesis, and our test results are more consistent with the alternative hypothesis that New York has a lower AQI than Ohio.

#### **Question 7: Will Michigan be affected by the new policy impacting states with a mean AQI of 10 or greater?**

Based on our test results, we do not have sufficient evidence that the mean AQI for Michigan is greater than 10. Therefore, Michigan may not be affected by the new policy.

# Conclusion

**What are key takeaways from this lab?**
One-sided t-tests require a direction, and the order of inputs and the "alternative" are critical for performing the test correctly.
The alternative hypothesis for a one-sided test is usually the direction and effect that you are interested in. For example, if you are interested in whether New York as a lower AQI than Ohio, then your alternative hypothesis is that New York AQI < Ohio AQI. Therefore, your null hypothesis is that New York AQI >= Ohio AQI, and your t-test lists New York as the first group, Ohio as the second group, and alternative='less' to test if the first group is less than the second group.

**What would you consider presenting to your manager as part of your findings?**

-L.A. county has a significantly higher mean AQI compared to the rest of California.

-New York does not have a higher mean AQI than Ohio, and statistical evidence suggests that it has a lower AQI than Ohio.

-Michigan does not have a significantly higher mean AQI than 10. While this evidence does not support increased funding based on a federal policy that uses a cutoff of 10, Michigan does have a relatively high mean AQI compared to other states (see below). This suggests that the government may still want to provide at least some support to improve the air quality there.

**What would you convey to external stakeholders?**

-California (and L.A. county in particular) should receive funding to improve air quality.

-The new office should be placed in New York over Ohio, as the air quality in New York is likely better than in Ohio.

-Michigan should not receive federal funding based on a hard cutoff of 10, but Michigan does still have relatively poor air quality (7th worst state by mean AQI...see below). The agencies might want to consider a different threshold or a small proportion of funding be devoted to worst-scoring states overall.

In [22]:
means = aqi.groupby('state_name').mean('aqi')
means.sort_values('aqi', ascending=False)

                      Unnamed: 0  arithmetic_mean        aqi
state_name
Nevada                 55.500000         0.988158  18.500000
Arizona               131.714286         0.671804  15.214286
California            137.272727         0.684871  12.121212
Idaho                  96.000000         0.621053  10.000000
Utah                  171.666667         0.461306   9.000000
Alaska                240.500000         0.555264   8.500000
Michigan              172.666667         0.465400   8.111111
Nebraska              162.000000         0.324416   7.000000
Hawaii                  6.333333         0.531579   7.000000
New Mexico            199.500000         0.239474   6.000000
Florida               149.000000         0.299123   5.500000
South Dakota           53.000000         0.242105   5.000000
Puerto Rico           187.000000         0.336842   5.000000
Colorado              119.333333         0.330994   5.000000
New Jersey            106.666667         0.302397   4.333333
Virginia               93.250000         0.277632   4.000000
Rhode Island           83.500000         0.302941   4.000000
Washington            159.000000         0.328948   4.000000
Georgia               139.000000         0.286842   4.000000
Indiana               135.600000         0.304210   3.800000
Connecticut           119.250000         0.200000   3.500000
Ohio                  128.666667         0.225379   3.333333
Vermont               100.666667         0.227778   3.333333
Illinois              127.000000         0.254386   3.333333
Missouri               72.333333         0.211111   3.000000
Delaware              135.000000         0.215789   3.000000
West Virginia          55.000000         0.226316   3.000000
Arkansas              186.000000         0.300000   3.000000
Pennsylvania          103.200000         0.239458   2.900000
Massachusetts          94.000000         0.225000   2.750000
Texas                 138.900000         0.198947   2.700000
Maine                 108.500000         0.184210   2.500000
District Of Columbia  219.000000         0.222222   2.500000
New York              165.800000         0.233684   2.500000
Oklahoma              131.750000         0.171930   2.500000
Maryland              105.000000         0.195833   2.250000
Minnesota              94.142857         0.178947   2.142857
Tennessee             127.000000         0.192105   2.000000
Wisconsin             256.000000         0.200000   2.000000
Alabama                71.000000         0.200000   2.000000
Montana               121.500000         0.172222   2.000000
Oregon                215.500000         0.152632   2.000000
North Dakota          108.000000         0.200000   2.000000
North Carolina        127.000000         0.191667   2.000000
New Hampshire         163.500000         0.200000   2.000000
Mississippi           160.000000         0.200000   2.000000
Kentucky              148.000000         0.181837   2.000000
Kansas                 29.000000         0.136842   2.000000
Iowa                   28.333333         0.171930   2.000000
Wyoming                67.333333         0.134473   1.666667
South Carolina        221.000000         0.100000   1.000000
Louisiana             152.000000         0.000000   0.000000

**Congratulations!** You've completed this lab. However, you may not notice a green check mark next to this item on Coursera's platform. Please continue your progress regardless of the check mark. Just click on the "save" icon at the top of this notebook to ensure your work has been logged.